@tailwind base;
@tailwind components;
@tailwind utilities;

/* Font declarations */
@font-face {
  font-family: 'TCJimmySansPro';
  src: url('/fonts/TCJimmySansPro-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TCJimmySansPro';
  src: url('/fonts/TCJimmySansPro-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DMSans';
  src: url('/fonts/DMSans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DMSans';
  src: url('/fonts/DMSans-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'DMSans';
  src: url('/fonts/DMSans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DMSans';
  src: url('/fonts/DMSans-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'DMSans';
  src: url('/fonts/DMSans-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DMSans';
  src: url('/fonts/DMSans-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --c-dark: 0 0 0;
    --c-light: 0 0 100%;
    --c-blue: 187 67% 53%; /* blue */
    --c-alive: 67 72% 56%; /* green */
    --c-resistance: 37 98% 53%; /* orange */
    --c-violet-light: 266 100% 92%; /* light purple */
    --c-building: 266 77% 50%; /* purple */
    --c-building-light: 265 80% 90%; /* light purple */
    --c-alive-light: 68 78% 84%; /* light green */
    --c-back-green: 88 14% 81%; /* light green */
    --c-grey-text: 0 0 40%; /* grey text */
    --c-dark-light: 255 25 13%; /* dark light */

    /* Font variables */
    --font-primary: 'DMSans', system-ui, sans-serif;
    --font-tertiary: 'TCJimmySansPro', system-ui, sans-serif;
  }
}

@layer base {
  body {
    @apply bg-light text-dark font-primary;
  }

  .prose a[target="_blank"], .blank {
    @apply inline-flex items-center gap-1;
  }

  .prose a[target="_blank"]::after, .blank::after {
    content: '';
    @apply bg-[url("/icons/blank.svg")] bg-cover w-4 aspect-square;
  }

  /* Typography */
  .prose h1, .h1-like {
    @apply text-3xl lg:text-[4.125rem] font-tertiary font-bold leading-tight;
  }
  .prose h2, .h2-like {
    @apply text-2xl lg:text-[2.5rem] font-tertiary font-bold leading-tight;
  }
  .prose h3, .h3-like {
    @apply text-lg lg:text-3xl font-tertiary font-bold leading-tight;
  }
  .prose h4, .h4-like {
    @apply text-sm font-black uppercase tracking-widest;
  }

  .lead {
    @apply font-secondary font-medium;
  }

  .prose:not(.prose--big) p {
    @apply mb-xs;
  }

  .prose a {
    @apply underline hover:no-underline;
  }
  .prose em {
    @apply italic;
  }
  .prose strong {
    @apply font-bold;
  }
  .prose h2 {
    @apply mt-lg mb-md;
  }
  .prose h3 {
    @apply mt-md mb-sm;
  }
  .prose :where(h4, h5, h6) {
    @apply mt-sm mb-xs;
  }
  .prose :where(h2, h3, h4, h5, h6):first-child {
    @apply mt-0;
  }
  .prose ul {
    @apply list-disc mt-sm pl-5;
  }
  .prose ol {
    @apply list-decimal mt-sm pl-5;
  }
  .prose li {
    @apply mb-xs list-outside;
  }
  .prose li li {
    @apply ml-4;
  }
  .prose img {
    @apply my-md;
  }
  .prose:not(.prose--big) :where(p, ul, ol), .small-content {
    @apply mx-auto max-w-[650px];
  }


  /* Components */
  .shadow-block {
    @apply relative block before:absolute before:content-[""] before:-z-1 before:w-full before:h-full before:top-1 before:left-1 before:transition-base;
  }
  a.shadow-block, button.shadow-block {
    @apply hover:before:top-0 hover:before:left-0 focus:before:top-0 focus:before:left-0 before:bg-building;
  }
  .shadow-block > * {
    @apply relative z-1;
  }
  .shadow-block--building {
    @apply before:bg-building;
  }
  .shadow-block--alive {
    @apply before:bg-alive;
  }
  .shadow-block--resistance {
    @apply before:bg-resistance;
  }
  .shadow-block--blue {
    @apply before:bg-blue;
  }
  .shadow-block--black {
    @apply before:bg-black;
  }


  /* Container */
  .container-sm {
    @apply px-5 mx-auto max-w-[690px];
  }
  .container-md {
    @apply px-5 mx-auto max-w-[920px];
  }
  [class*="container-"] [class*="container-"] {
    @apply px-0;
  }


  /* Others */
  .mask-papper {
    mask-image: url('/images/mask-papper.svg');
    mask-size: cover;
    mask-repeat: no-repeat;
    mask-position: center;
    -webkit-mask-image: url('/images/mask-papper.svg');
    -webkit-mask-size: cover;
  }
  .mask-person {
    mask-image: url('/images/mask-person.svg');
    mask-size: cover;
    mask-repeat: no-repeat;
    mask-position: center;
    -webkit-mask-image: url('/images/mask-person.svg');
    -webkit-mask-size: cover;
  }
}
